.flash-message {
  animation: flashMessage 6s forwards;
}

@keyframes flashMessage {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }
  8% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  92% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }
}